@page "/documentation"

<h3>Documentation</h3>

<div class="m-2 p-2 border border-1 border-secondary bg-light">
    <a href="/AsyncOnInitialized">Documented Async OnInitialized</a>
</div>

<div class="m-2 p-2 border border-1 border-secondary bg-light">
    <a href="/AsyncOnInitializedDocumented">Documented AsyncOnInitialized</a>
</div>

<div class="m-2 p-2 border border-1 border-secondary bg-light">
    <a href="/AsyncOnInitializedAsyncDocumented">Documented AsyncOnInitializedAsync</a>
</div>

@code {

}
